<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/project.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Layout Basica</title>
</head>
<body>
    
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="img/puente.jpg" alt="">
            </div>
            <section class="posts">
               <article>
                   <h2>Titulo del Articulo</h2>
                   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas impedit exercitationem provident? Eveniet accusamus dolore ut perferendis nostrum eum quod. Sapiente perferendis ullam voluptatum dolores, facere aut, sequi placeat officiis eos ipsam a eum soluta mollitia iusto ad sed. Magni voluptates assumenda cupiditate omnis explicabo esse tempore? Fugiat distinctio voluptatem non nobis totam, fugit itaque reprehenderit debitis suscipit quo asperiores ratione laboriosam qui, magnam aliquid, doloremque eius officia voluptate doloribus? Consequatur libero earum incidunt veniam animi autem sequi explicabo, assumenda adipisci ullam error, ea temporibus. Facere vero tempore at doloribus non repudiandae earum, corporis aperiam laboriosam quaerat quod soluta nemo!</p>

                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus recusandae perspiciatis omnis ad! Ex corporis nobis, error dolor provident cum eum vitae necessitatibus fuga veniam, dignissimos ut et voluptatibus molestias? Id explicabo laborum quidem quisquam nulla sunt iure esse cupiditate perspiciatis velit, exercitationem repudiandae similique inventore commodi ex debitis enim ad error sed facilis voluptate quia ab impedit. Voluptatibus sint accusantium magni possimus animi quo labore fugit doloribus sapiente laborum, ea ducimus itaque at illum fugiat rerum voluptates saepe ratione perspiciatis, odit rem. Vel cum nihil dolorem ex necessitatibus quam qui. Vero officiis sapiente molestiae ab soluta? Ipsam, veniam neque?</p>
                </article>
            </section>
        </section>

        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos Destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                    <li><a href="#">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</a></li>
                </ul>
            </div>

            <div class="widget">
                <h3 class="titulo">Información</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum non facilis tenetur magni inventore, deserunt ullam cupiditate repellat. Non explicabo corporis libero tenetur sint, sed nam! Facere vitae reiciendis placeat. Vero esse quisquam aspernatur cumque modi voluptate nisi. Odit ex sequi sint numquam dolore blanditiis cupiditate aut explicabo praesentium labore? Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci accusantium corporis minus magni autem necessitatibus hic assumenda et officiis placeat!
                </p>
            </div>
        </aside>

        <footer>
            <p>Josias Sanchez 2021 | Todos los derechos Reservados.</p>
        </footer>
    </div>

</body>
</html>